body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #e6e5e5;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(177, 131, 242, 0.3921568627);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #3d4040;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  background-color: #e6e5e5;
  height: 100vh;
}

a {
  text-decoration: none;
  transition: 0.5s;
  color: #3d4040;
  font-weight: 500;
}
a:hover {
  color: #8A42F2;
}

input, textarea {
  border: 1px solid rgba(177, 131, 242, 0.3921568627);
  outline: none;
  resize: none;
  border-radius: 2px;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 1px solid #8A42F2;
  outline: 0;
}

ul {
  list-style: none;
  margin: 0;
}

#footer {
  background-color: #dfdfdf;
  padding: 1rem 0;
  z-index: 1;
  margin-top: 6%;
}

.container-footer {
  max-width: 1200px;
  padding-top: 6%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
}
.container-footer img {
  height: 80px;
}
.container-footer h6, .container-footer p, .container-footer span {
  color: #3d4040;
  margin: 0;
}
.container-footer h6, .container-footer span {
  font-weight: 200;
  letter-spacing: 0.3rem;
}
.container-footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.container-footer .social-network {
  flex-direction: row;
}
.container-footer .social-network i {
  font-size: 1.3rem;
  color: #8A42F2;
  transition: 0.5s;
}
.container-footer .social-network i:hover {
  color: #6c31bd;
}

#nav-bar {
  background-color: #8A42F2;
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(177, 131, 242, 0.3921568627);
  z-index: 1;
}
#nav-bar .container-menu {
  max-width: 1200px;
  padding-top: 6%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
}
#nav-bar .container-menu i {
  font-size: 1.3rem;
  color: #f9f9f9;
  transition: 0.5s;
  margin-left: 7rem;
}
#nav-bar .container-menu i:hover {
  color: #dfdfdf;
}
#nav-bar .container-menu img {
  height: 1.5rem;
}
#nav-bar .container-menu ul {
  display: flex;
  gap: 2rem;
}
#nav-bar .container-menu ul li a {
  font-size: 1rem;
  font-weight: 600;
  color: #f9f9f9;
}
#nav-bar .container-menu ul li a:hover {
  color: #dfdfdf;
}
#nav-bar .container-menu .title-menu {
  color: #f9f9f9;
  font-weight: bold;
}

.container-home {
  max-width: 1200px;
  padding-top: 6%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header-home {
  width: 100%;
}
.header-home-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.header-home-form input {
  width: 75%;
  border-radius: 80px;
  height: 45px;
  padding: 0 2rem;
}
.header-home-form input[type=submit] {
  width: 20%;
  margin: 0;
}

.ordering {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  gap: 1.5%;
}
.ordering button {
  border: none;
  background: none;
}
.ordering i {
  color: #8A42F2;
  font-size: 22px;
  cursor: pointer;
}
.ordering i:hover {
  color: #6c31bd;
}
.ordering a {
  font-weight: bold;
}

.container-body {
  min-height: 100vh;
}

.message {
  margin: 0 auto;
  padding-top: 1rem;
  font-size: 0.8rem;
  margin: 0 3.6rem;
  color: #dd4747;
}

.successful-access {
  margin: 0 auto;
  text-align: center;
  padding-top: 6%;
  max-width: 30%;
}
.successful-access p {
  padding: 1rem;
  border: 1px solid rgba(177, 131, 242, 0.3921568627);
  border-radius: 6px;
  font-weight: 800;
  font-size: 1.3rem;
  color: #8A42F2;
}

.auth-container {
  padding-top: 6%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  max-width: 1200px;
  padding-top: 6%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.dashboard-container li {
  box-shadow: 1px 1px 1px 1px rgba(177, 131, 242, 0.3921568627);
  margin-bottom: 2rem;
  border-radius: 4px;
  padding: 1rem;
  background-color: #dfdfdf;
  width: 1200px;
}
.dashboard-container .list-post {
  max-width: 1200px;
  padding-top: 6%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.dashboard-container .list-post .actions {
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
}
.dashboard-container .list-post .actions .bi {
  font-size: 1.3rem;
  color: #8A42F2;
  transition: 0.5s;
}
.dashboard-container .list-post .actions .bi:hover {
  color: #6c31bd;
}
.dashboard-container .list-post .actions button {
  border: 0;
  background: none;
}
.dashboard-container .list-post .actions button:hover {
  cursor: pointer;
}
.dashboard-container .label {
  font-weight: 500;
}
.dashboard-container .post-date {
  margin-top: 1rem;
}
.dashboard-container .post-date span {
  color: rgba(115, 110, 110, 0.7529411765);
}
.dashboard-container .post-author {
  margin-top: 0.5rem;
  font-weight: bold;
}
.dashboard-container .title-container-dashboard {
  margin-bottom: 1rem;
}
.dashboard-container .title-container-dashboard h1 {
  color: #8A42F2;
}

.create-post-container {
  max-width: 1200px;
  padding-top: 6%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.create-post-container form {
  max-width: 1200px;
  padding-top: 6%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.create-post-container form textarea {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(177, 131, 242, 0.3921568627);
  overflow: hidden;
}
.create-post-container form .create-post-btn {
  width: 100%;
  display: flex;
  justify-content: start;
}
.create-post-container form .create-post-btn input {
  margin-left: 0;
}

.title-container {
  display: flex;
  padding: 0.5rem;
  background-color: #6c31bd;
  width: 450px;
  align-items: center;
}
.title-container h2, .title-container h1 {
  color: #f9f9f9;
}
.title-container img {
  max-width: 40px;
}

.title {
  font-size: 1.8rem;
  margin: 0;
  color: #212121;
  font-weight: 800;
}

.btn {
  padding: 0.8rem 2rem;
  margin-left: 3.5rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid #8A42F2;
  text-transform: uppercase;
  background-color: #6c31bd;
  color: #f9f9f9;
  border-radius: 80px;
}
.btn:hover {
  background-color: #8A42F2;
  color: #f9f9f9;
}

.form {
  background-color: #dfdfdf;
  padding: 0.5rem;
  width: 450px;
}
.form p {
  margin-left: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.form-control {
  padding: 1rem;
}
.form-control i {
  margin-right: 1rem;
  color: #6c31bd;
  font-size: 1.3rem;
}
.form-control input, .form-control textarea {
  padding: 1rem;
  width: 80%;
}

/*# sourceMappingURL=style.css.map */
