<div class='create-post-container'>
  <form action='/posts/add' method='POST'>
    <textarea name="content" cols="60" rows="5" placeholder="Compartilhe seu pensamento"></textarea>
    <div class="create-post-btn">
      <input type="submit" value="Publicar" class="btn">
    </div>
  </form>
</div>