<div class='post-form-container'>
  <h1 class="title">Publicação</h1>
  <form action='/posts/add' method='POST'>
    <div class='form-control'>
      <textarea name="post" id="" cols="120" rows="10" placeholder=""></textarea>
    </div>
    <input type="submit" value="Publicar" class="btn">
  </form>
</div>