<section class="home-container">
  {{#if messages.message}}
    <div class='successful-access'>
      <p>{{messages.message}}</p>
    </div>
  {{/if}}
  <p>Página inicial</p>
  <p>Página inicial</p>
  <p>Página inicial</p>
  <p>Página inicial</p>
  <p>Página inicial</p>
  <p>Página inicial</p>
  <p>Página inicial</p>
</section>