@use '../base/variables'
@use './mixins'
@use '../base/base-mixins'

.create-post-container
  @include mixins.center-content()
  flex-direction: column

  form
    @include mixins.center-content()
    flex-direction: column

    textarea
      background: #ffffff
      border-radius: 6px
      padding: 2rem
      border: none
      border-bottom: 1px solid variables.$border-color
      overflow: hidden


    .create-post-btn
      width: 100%
      display: flex
      justify-content: start

      input
        margin-left: 0


