@use '../base/variables'
@use './mixins'
@use '../base/base-mixins'

#nav-bar
  background-color: variables.$primary-color
  padding: 0.5rem 0
  position: fixed
  width: 100%
  border-bottom: 1px solid variables.$border-color
  z-index: 1

  .container-menu
    @include mixins.center-content()
    i
      font-size: 1.3rem
      color: variables.$second-text-color
      transition: .8s

      &:hover
        color: variables.$bg-second-color

    img
      height: 1.5rem

    ul
      display: flex
      gap: 1rem

      li
        a
          font-size: 1rem
          font-weight: 600
          color: variables.$second-text-color

          &:hover
            color: variables.$bg-second-color
